{% extends "base.html" %}

{% load util_functions %}

{% block body %}

<div id="proj_info" class="container">
<table class="table table-striped table-bordered table-condensed table-hover">
    <caption><h4>{{ labels.title }} (<a href="{% url 'edit_application' project.pk application.pk %}">edit</a>)</h4></caption>
    <tbody>
    <tr>
        <td><div class="text-right">{{ labels.name }}</div></td>
        <td>{{ application.name }}</td>
    </tr>
    {% if application.description %}
    <tr>
        <td><div class="text-top text-right">{{ labels.description }}</div></td>
        <td>{{ application.description|linebreaks }}</td>
    </tr>
    {% endif %}
    <tr>
        <td><div class="text-right">{{ labels.upload_code }}</div></td>
        <td>{{ application.upload_code }}</td>
    </tr>
    <tr>
        <td><div class="text-right">{{ labels.dbms }}</div></td>
        <td>{{ application.dbms }}</td>
    </tr>
    <tr>
        <td><div class="text-right">{{ labels.hardware }}</div></td>
        <td>{{ application.hardware.name }}</td>
    </tr>
    <tr>
        <td><div class="text-right">{{ labels.creation_time }}</div></td>
        <td>{{ application.creation_time }}</td>
    </tr>
    <tr>
        <td><div class="text-right">{{ labels.last_update }}</div></td>
        <td>{{ application.last_update }}</td>
    </tr>
    <tr>
        <td><div class="text-right">{{ labels.tuning_session }}</div></td>
        <td>{{ application.tuning_session }}</td>
    </tr>
    {% if application.tuning_session %}
    <tr>
        <td><div class="text-right">{{ labels.target_objective }}</div></td>
        <td>{{ metric_meta|get_item:application.target_objective|get_attr:"pprint" }}</td>
    </tr>
    {% endif %}
    </tbody>
</table>
</div>

<hr>

<div class="container">
<div class="row">

<div id="sidebar" class="col-md-3">
<div id="dbs">
    <div><h4>DBMS</h4></div>
    <div class="boxbody checkbox">
        <ul>
        {% for dbkey, dbms in dbmss.items %}
        <li><label><input type="checkbox" name="db" value="{{ dbkey }}"/> {{ dbms.full_name }}</label></li>
        {% endfor %}
        </ul>
    </div>
</div>
<div id="benchmark">
    <div><h4>Benchmark</h4></div>
    <div class="boxbody radio">
        <ul>
<!--         <li><label><input type="radio" name="benchmark" value="grid"/> Display all in a grid</label></li> -->
        <li><label><input type="radio" name="benchmark" value="show_none" /> Display none</label></li>
        </ul>
        <ul>
        {% for bench, confs in benchmarks.items %}
        <li>
        <label><input id="benchmark_{{ bench }}" type="radio" name="benchmark" value="{{ bench }}" /> {{ bench }}</label>
        <div id="div_specific_{{ bench }}">
        <ul>
        {% for conf in confs %}
        <li><label><input id="specific_{{ bench }}_{{ conf.pk }}" type="checkbox" name="specific" value="{{ conf.pk }}"/> {{ conf.name }}</label></li>
        {% endfor %}
        </ul>
        </div>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>
<!-- <div id="additional_filter">
    <div><h4>Additional Filter</h4></div>
    <div class="boxbody">
        <ul>
        {% for filter in filters %}
        <li><label>{{ filter.print }}<select class="selectpicker" name="additional_{{ filter.field }}">
            <option value="select_all">Select All</option>
            {% for value in filter.values %}
            <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
        </select></label></li>
        {% endfor %}
        </ul>
    </div>
</div> -->
<div id="metric">
    <div><h4>Plot Metrics</h4></div>
    <div class="checkbox boxbody">
        <ul>
        {% for metric in metrics %}
        <li><label><input type="checkbox" name="metric" value="{{ metric }}" /> {{ metric_meta|get_item:metric|get_attr:"pprint" }}</label></li>
        {% endfor %}
        </ul>
    </div>
</div>
</div>

<div class="col-md-9">
<div id="configbar" class="row">
    <div class="col-sm-10">
    Show the last
    <select id="revisions" class="selectpicker show-tick" data-width="fit" data-style="btn-default">
        {% for rev in lastrevisions %}
        <option value="{{ rev }}">{{ rev }}</option>
        {% endfor %}
    </select> results
    </div>
    <div class="col-sm-2 checkbox">
        <label><input id="equidistant" class="option" name="equidistant" type="checkbox"/> Equidistant</label>
    </div>
</div>

<div id="content">
    <div id="plotgrid" class="plotcontainer row"></div>
    <div id="result_table">
        <h4>Filtered Results</h4>
        <table id="dataTable">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
        </table>
    </div>

<!-- table tools stuff -->
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/jquery.dataTables.css'>
<script type="text/javascript" src='{{ STATIC_URL }}js/jquery.dataTables.min.js'></script> 
<script type="text/javascript" src='{{ STATIC_URL }}js/FixedHeader.min.js'></script>
</div>

</div>

</div>
</div>
<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/jqplot.canvasAxisTickRenderer.min.js"></script>


<script type="text/javascript" src="{{ STATIC_URL }}js/timeline.js"></script>
<script language="javascript">
$(function() {
    jQuery.extend( jQuery.fn.dataTableExt.oSort, {
        "num-html-pre": function ( a ) {
            var x = String(a).replace( /<[\s\S]*?>/g, "" );
            return parseFloat( x );
        },

        "num-html-asc": function ( a, b ) {
            return ((a < b) ? -1 : ((a > b) ? 1 : 0));
        },

        "num-html-desc": function ( a, b ) {
            return ((a < b) ? 1 : ((a > b) ? -1 : 0));
        }
    });

    $('.selectpicker').selectpicker();

    $("[id^=div_specific]").hide();

   Timeline.init({
        proj : {{application.project.pk}},
        app: {{application.pk}},
        db: "{{ defaultdbms }}",
        revisions: {{ defaultlast }},
        benchmark: "{{ defaultbenchmark }}",
        benchmarks: "{{ defaultspe }}",
        equidistant: "{{ defaultequid }}",
        additional: [{% for filter in filters %} "{{ filter.field }}", {% endfor %}],
        metrics: [{% for metric in defaultmetrics %}"{{ metric }}", {% endfor %}],
        columnnames: [{% for cname in columnnames %}"{{ cname }}", {% endfor %}],
    });
});

</script>

{% endblock body %}
