{% extends "base.html" %}

{% load util_functions %}

{% block body %}
<div class="container">
    <div class="container" style="overflow: auto;">
    <table class="table table-striped table-bordered table-condensed table-hover">
<!--         <caption><h4>{{ labels.title }} (<a href="/edit_{{ info_type }}/?id={{ db_info.pk }}">edit</a>)</h4></caption> -->
        <caption><h4>{{ labels.title }}</h4></caption>
        <tbody>
        <tr>
            <td><div class="text-right">{{ labels.name }}</div></td>
            <td>{{ db_info.name }}</td>
        </tr>
        {% if db_info.description %}
        <tr>
            <td><div class="text-top text-right">{{ labels.description }}</div></td>
            <td>{{ db_info.description|safe|linebreaks }}</td>
        </tr>
        {% endif %}
        <tr>
            <td><div class="text-right">{{ labels.dbms }}</div></td>
            <td>{{ db_info.dbms.full_name }}</td>
        </tr>
        <tr>
            <td><div class="text-right">{{ labels.creation_time }}</div></td>
            <td>{{ db_info.creation_time }}</td>
        </tr>
        </tbody>
    </table>
    </div>

    <hr>
    <div class="container">Compare with
        <select class="selectpicker" id="compare" onchange="compare_db_info()">
            <option value="none">None</option>
            {% for peer_info in peer_db_info %}
            <option value="{{ peer_info.pk }}">{{ peer_info.name }}</option>
            {% endfor %}
            
        </select>
    </div>

    <div id="featured">
        <h4>{{ labels.featured_info }} | <a onclick="switch_content()">Show {{ labels.all_info }}</a></h4>
        <table class="table table-striped table-bordered table-condensed table-hover" style="table-layout: fixed;">
        <caption></caption>
        <tr>
            <td><h5><strong>Name</strong><h5></td>
            <td><h5><strong>Value</strong></h5></td>
            {% if compare != "none" %}
                <td><h5><strong>Comparing Value</strong></h5></td>
            {% endif %}
        </tr>
        {% for pair in featured_info %}
            {% if pair.2 and pair.2 != pair.1 %}
            <tr class="danger">
            {% else %}
            <tr>
            {% endif %}
                {% if info_type == "db_confs" %}
                <td style="word-wrap:break-word;"><a href="{% url 'dbconf_ref' db_info.dbms.name db_info.dbms.version pair.0 %}">{{ pair.0 }}</a></td>
                {% else %}
                <td style="word-wrap:break-word;"><a href="{% url 'dbmetrics_ref' db_info.dbms.name db_info.dbms.version pair.0 %}">{{ pair.0 }}</a></td>
                {% endif %}
                <td style="word-wrap:break-word;">{{ pair.1|safe_floatformat }}</td>
                {% if compare != "none" %}
                <td style="word-wrap:break-word;">{{ pair.2|safe_floatformat }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    </div>
    <div id="para_table">
        <h4>{{ labels.all_info }} | <a onclick="switch_content()">Show {{ labels.featured_info }}</a></h4>
        <table class="table table-striped table-bordered table-condensed table-hover" style="table-layout: fixed;">
        <caption></caption>
        <tr>
            <td><h5><strong>Name</strong><h5></td>
            <td><h5><strong>Value</strong></h5></td>
            {% if compare != "none" %}
                <td><h5><strong>Comparing Value</strong></h5></td>
            {% endif %}
        </tr>
        {% for pair in all_info %}
            {% if pair.2 and pair.2 != pair.1 %}
            <tr class="danger">
            {% else %}
            <tr>
            {% endif %}
                {% if info_type == "db_confs" %}
                <td style="word-wrap:break-word;"><a href="{% url 'dbconf_ref' db_info.dbms.name db_info.dbms.version pair.0 %}">{{ pair.0 }}</a></td>
                {% else %}
                <td style="word-wrap:break-word;"><a href="{% url 'dbmetrics_ref' db_info.dbms.name db_info.dbms.version pair.0 %}">{{ pair.0 }}</a></td>
                {% endif %}
                <td style="word-wrap:break-word;">{{ pair.1|safe_floatformat }}</td>
                {% if compare != "none" %}
                <td style="word-wrap:break-word;">{{ pair.2|safe_floatformat }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    </div>
</div>


<script language="javascript">
$(function() {
    $("#para_table").hide();
    $('.selectpicker').selectpicker();
    $("select[id='compare']").val('{{ compare }}');
    $('.selectpicker').selectpicker('refresh');
});

function switch_content() {
    $("#featured").toggle();
    $("#para_table").toggle();
}

function compare_db_info() {
	url = "/projects/{{ db_info.application.project.pk }}/apps/{{ db_info.application.pk }}/{{ info_type }}/{{db_info.pk}}/?compare=" + $("select[id='compare']").val();
    window.location = url;
}
</script>
{% endblock body %}
