@import url("bootstrap.min.css");
@import url("bootstrap-select.min.css");

.table-nonfluid {
   width: auto;
}

.boxbody ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0.2em;
  # margin-bottom: 0.5em;
}
.boxbody ul li { padding-left: 0.3em; }

.plotcontainer {
    margin-bottom: 2em;
}

.FixedHeader_Cloned th { background-color: white; }

.container {
  padding-left: 10px;
}

div.miniplot:hover { background-color: #F1F1F1; }

div.miniplot {
    cursor: pointer;
    margin: 0.5em;
    text-align: left;
    float: left;
    height: 200px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
