<!DOCTYPE html>
<html>

<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.address.js"></script>
<script type='text/javascript'>
var STATIC_URL = '{{ STATIC_URL }}';
</script>

<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">

<head>
    <title>{% block title %}OLTPBench Result Repository{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>
<body>
<div id="banner" class="row">
    <div id="logo" class="span1">
        <a href="/">
        {% block logo %}
            <img src="{{ STATIC_URL }}img/logo.png" height="48" alt="logo"/>
        {% endblock logo %}
        </a>
    </div>
    <div class="span4">
        <h2>{% block page_title %}Exp Repo{% endblock page_title %}</h2>
    </div>
    <div class="span4">
        {% block navi_bar %}
        {% endblock navi_bar %}
    </div>
    <div>{{ user.username }}(<a href="/logout/">logout</a>)</div>
</div>

<hr>

{% block body %}
{% endblock body %}

</body>
</html>
