<!DOCTYPE html>
<html>

<script type="text/javascript"
	src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
<script type="text/javascript"
	src="{{ STATIC_URL }}js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="{{ STATIC_URL }}js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
<script type="text/javascript"
	src="{{ STATIC_URL }}js/jquery.address-1.5.min.js"></script>
<script type='text/javascript'>
	var STATIC_URL = '{{ STATIC_URL }}';
</script>

<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">

<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jqplot/excanvas.min.js"></script><![endif]-->
<script language="javascript" type="text/javascript"
	src="{{ STATIC_URL }}js/jqplot/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="{{ STATIC_URL }}js/jqplot/jquery.jqplot.min.css" />

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}OLTPBench Result Repository{% endblock %}</title>
{% block extra_head %}{% endblock %}
</head>
<body>

	<div class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">OtterTune</a>
			</div>
			<div class="navbar-collapse collapse">
				{% if user.is_authenticated %}
				<div class="navbar-right">
					<p class="navbar-text">Hi, {{ user.username }}</p>
					<a class="btn btn-default navbar-btn" href="/logout/">Sign Out</a>
				</div>
				{% else %}
				<form class="navbar-form navbar-right" action="/login/"
					method="POST">
					{% csrf_token %}
					<div class="form-group">
						<input type="text" placeholder="Username" class="form-control"
							name="username">
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control"
							name="password">
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
				</form>
				{% endif %}
			</div>
			<!--/.navbar-collapse -->
		</div>
	</div>
	
	{% if form.errors %}
	{% for field in form %}
	{% for error in field.errors %}
	<div class="alert alert-danger">
		<strong>{{ error|escape }}</strong>
	</div>
	{% endfor %}
	{% endfor %}
	{% for error in form.non_field_errors %}
	<div class="alert alert-danger">
		<strong>{{ error|escape }}</strong>
	</div>
	{% endfor %}
	{% endif %}

	{% block body %} {% endblock body %}

</body>
</html>
