{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="container" style="overflow: auto;">
    <table class="table table-striped table-bordered table-condensed table-hover">
        <caption><h4>DBMS Metrics (<a href="/edit_dbms_metrics/?id={{ dbms_metrics.pk }}">edit</a>)</h4></caption>
        <tbody>
        <tr>
            <td><div class="text-right">Name</div></td>
            <td>{{ dbms_metrics.name }}</td>
        </tr>
        {% if dbms_metrics.description %}
        <tr>
            <td><div class="text-top text-right">Description</div></td>
            <td>{{ dbms_metrics.description|safe|linebreaks }}</td>
        </tr>
        {% endif %}
        <tr>
            <td><div class="text-right">Type</div></td>
            <td>{{ dbms_metrics.dbms }}</td>
        </tr>
        <tr>
            <td><div class="text-right">Creation time</div></td>
            <td>{{ dbms_metrics.creation_time }}</td>
        </tr>
        </tbody>
    </table>
    </div>

    <hr>
    <div class="container">Compare with
        <select class="selectpicker" id="compare" onchange="compare_dbms_metrics()">
            <option value="none">None</option>
            {% for metric in peer_dbms_metrics %}
                <option value="{{ metric.id }}">{{ metric.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div id="featured">
        <h4>DBMS Metrics | <a onclick="switch_content()">Show Normalized DBMS Metrics</a></h4>
        <table class="table table-striped table-bordered table-condensed table-hover" style="table-layout: fixed;">
        <caption></caption>
        <tr>
            <td><h5><strong>Name</strong><h5></td>
            <td><h5><strong>Value</strong></h5></td>
            {% if compare != "none" %}
                <td><h5><strong>Comparing Value</strong></h5></td>
            {% endif %}
        </tr>
        {% for pair in metrics %}
            {% if pair.2 and pair.2 != pair.1 %}
            <tr class="danger">
            {% else %}
            <tr>
            {% endif %}
                <td style="word-wrap:break-word;">{{ pair.0 }}</td>
                <td style="word-wrap:break-word;">{{ pair.1 }}</td>
                {% if compare != "none" %}
                <td style="word-wrap:break-word;">{{ pair.2 }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    </div>
    <div id="para_table">
        <h4>Normalized DBMS Metrics | <a onclick="switch_content()">Show DBMS Metrics</a></h4>
        <table class="table table-striped table-bordered table-condensed table-hover" style="table-layout: fixed;">
        <caption></caption>
        <tr>
            <td><h5><strong>Name</strong><h5></td>
            <td><h5><strong>Value</strong></h5></td>
            {% if compare != "none" %}
                <td><h5><strong>Comparing Value</strong></h5></td>
            {% endif %}
        </tr>
        {% for pair in normalized_metrics %}
            {% if pair.2 and pair.2 != pair.1 %}
            <tr class="danger">
            {% else %}
            <tr>
            {% endif %}
                <td style="word-wrap:break-word;">{{ pair.0 }}</td>
                <td style="word-wrap:break-word;">{{ pair.1 }}</td>
                {% if compare != "none" %}
                <td style="word-wrap:break-word;">{{ pair.2 }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
    </div>
</div>


<script language="javascript">
$(function() {
    $("#para_table").hide();
    $('.selectpicker').selectpicker();
    $("select[id='compare']").val("{{ compare }}");
    $("select[id='compare']").selectpicker('refresh');
});

function switch_content() {
    $("#featured").toggle();
    $("#para_table").toggle();
}

function compare_dbms_metrics() {
    url = "/dbms_metrics/?id={{ dbms_metrics.pk }}&compare=" + $("select[id='compare']").val();
    window.location = url;
}
</script>
{% endblock body %}
