{% extends "base.html" %}

{% block body %}
<div class="container">
<form action="/update_application/" method="POST"> {% csrf_token %}
    <table class="table table-striped table-bordered table-hover table-nonfluid">
        <tr>
            <td align="right"><label for="name">Name:</label></td>
            <td><input type="text" id="name" name="name" value="{{ application.name }}" maxlength="50" required></td>
        </tr>
        <tr>
            <td valign="top" align="right"><label for="description">Description:</label></td>
            <td><textarea id="description" name="description" maxlength="500" rows="5">{{ application.description }}</textarea></td>
        </tr>
        {{ form.as_table }}
<!--         <tr>
            <td valign="top" align="right"><label for="tuning_session">Tuning Session:</label></td>
            <td><input type="checkbox" id="tuning_session" name="tuning_session" value="{{ application.tuning_session }}"></td>
        </tr> -->
        {% if application %}
        <tr>
            <td align="right"><label for="project">Project:</label></td>
            <td><div id="project">{{ project.name }}</div></td>
        </tr>
        <tr>
            <td align="right"><label for="upload_code">Upload Code:</label></td>
            <td><div id="upload_code">{{ application.upload_code }}</div></td>
        </tr>
        <tr>
            <td align="right"><label>Last update:</label></td>
            <td>{{ application.last_update }}</td>
        </tr>
        <tr>
            <td align="right"><label>Creation time:</label></td>
            <td>{{ application.creation_time }}</td>
        </tr>
        {% endif %}
    </table>
    <button class="btn btn-default" type="submit" name="id" value="{{ application.pk }}&{{project.pk}}">Submit</button>
    {% if application %}
    <button class="btn btn-default" type="submit" name="id_new_code" value="{{application.pk }}">Submit & Get a new upload code</button>
    <a class="btn btn-default" href="/application/?id={{ application.pk }}">Cancel</a>
    {% else %}
    <a class="btn btn-default" href="/">Cancel</a>
    {% endif %}
</form>
</div>
{% endblock body %}
