{% extends "base.html" %}

{% block body %}

<div id="update_env_form" xmlns="http://www.w3.org/1999/html">
<form action="/update_env/" method="POST"> {% csrf_token %}
    <table class="table table-striped table-bordered table-nonfluid">
        <tr>
            <td><div class="text-right">Name:</div></td>
            <td><input type="text" name="name" value="{{ environment.name }}" maxlength="50" required></td>
        </tr>
        <tr>
            <td><div class="text-right">Description:</div></td>
            <td><textarea name="description" maxlength="500" rows="5" cols="80" required>{{ environment.description }}</textarea></td>
        </tr>
        {% if environment %}
        <tr>
            <td><div class="text-right">Creation time:</div></td>
            <td>{{ environment.creation_time }}</td>
        </tr>
        {% endif %}
    </table>

    <button class="btn" type="submit" name="id" value="{{ environment.pk }}">Submit</button>
    <a class="btn" href="/">Cancel</a>
</form>
</div>

{% endblock body %}
