{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1>What's this?</h1>
        <ul>
            <li>A repository for all your OLTP experiment results.</li>
            <li>A tool eliminates the tedious burden of visualizing your experiments.</li>
            <li>A smart adviser unveils potential improvements for your database.</li>
        </ul>
        <p><a class="btn btn-primary btn-lg" role="button" href="{% url 'signup' %}">Sign up now!</a>
        <a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
    </div>
</div>
{% endblock body %}


<!DOCTYPE html>
<html>
<head></head>
<body>


</body>
</html>
