{% extends "base.html" %}

{% block body %}
<div id="proj_info">
<table class="table table-striped table-bordered table-condensed table-hover table-nonfluid">
    <caption><h4>Project Info (<a href="/edit_project/?id={{ project.pk }}">edit</a>)</h4></caption>
    <tbody>
    <tr>
        <td><div class="text-right">Name:</div></td>
        <td>{{ project.name }}</td>
    </tr>
    <tr>
        <td><div class="text-top text-right">Description:</div></td>
        <td>{{ project.description|linebreaks }}</td>
    </tr>
    <tr>
        <td><div class="text-right">Environment:</div></td>
        <td>{{ project.environment.name }}</td>
    </tr>
    <tr>
        <td><div class="text-right">Upload code:</div></td>
        <td>{{ project.upload_code }}</td>
    </tr>
    <tr>
        <td><div class="text-right">Last update:</div></td>
        <td>{{ project.last_update }}</td>
    </tr>
    </tbody>
</table>
</div>

<hr>

<table class="table table-striped table-bordered table-condensed table-hover table-nonfluid">
    <caption><h4>Results | <a href="/timeline/?id={{ project.pk }}">Timeline</a></h4></caption>
    <tr>
        <th>Result ID</th>
        <th>Creation Time</th>
        <th>Benchmark Conf</th>
        <th>DB Conf</th>
    </tr>
    {% for result in results %}
        <tr>
            <td><a href="/result/?id={{ result.pk }}">{{ result.pk }}</a></td>
            <td>{{ result.timestamp }}</td>
            <td><a href="/benchmark_conf/?id={{ result.benchmark_conf.pk }}">{{ result.benchmark_conf.name }}</a></td>
            <td><a href="/target_conf/?id={{ result.db_conf.pk }}">{{ result.db_conf.name }}</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock body %}
