{% extends "base.html" %}

{% block extra_head %}
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jqplot/excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jqplot/jquery.jqplot.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/jqplot/jquery.jqplot.css" />
{% endblock %}

{% block body %}

<div class="row">

<div id="sidebar" class="span3">
<div id="dbs">
    <div><h4>DBMS</h4></div>
    <div>
        {% for db in db_types %}
        <label><input type="checkbox" name="db" value="{{ db }}"/> {{ db }}</label>
        {% endfor %}
    </div>
</div>
<div id="benchmark">
    <div><h4>Benchmark</h4></div>
    <div class="boxbody">
        <ul>
        <li><label><input type="radio" name="benchmark" value="grid"/> Display all in a grid</label></li>
        <li><label><input type="radio" name="benchmark" value="show_none" /> Display none</label></li>
        </ul>
        <ul>
        {% for bench, confs in benchmarks.items %}
        <li>
        <label><input id="benchmark_{{ bench }}" type="radio" name="benchmark" value="{{ bench }}" /> {{ bench }}</label>
        <div id="div_specific_{{ bench }}">
        <ul>
        {% for conf in confs %}
        <li><label><input id="specific_{{ bench }}_{{ conf }}" type="checkbox" name="specific" value="{{ conf.pk }}"/> {{ conf.name }}</label></li>
        {% endfor %}
        </ul>
        </div>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>
<!--<div id="metric">-->
    <!--<div><h4>Metrics to plot</h4></div>-->
    <!--<div>-->
        <!--{% for metric in metrics %}-->
        <!--<label><input type="checkbox" name="metric" value="{{ metric }}" /> {{ metric }}</label>-->
        <!--{% endfor %}-->
    <!--</div>-->
<!--</div>-->
<div id="additional_filter">
    <div><h4>Additional Filter</h4></div>
    <div>
        {% for filter in filters %}
        <label>{{ filter.name }}<select name="additional_{{ filter.name }}">
            <option value="select_all">Select All</option>
            {% for value in filter.values %}
            <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
        </select></label>
        {% endfor %}
    </div>
</div>
</div>

<div class="span10">
<div id="configbar" class="row">
    <div class="span5">
    Show the last
    <select id="revisions" class="option">
        {% for rev in lastrevisions %}
        <option value="{{ rev }}">{{ rev }}</option>
        {% endfor %}
    </select> results
    </div>
    <div class="span5">
        <label><input id="equidistant" class="option" name="equidistant" type="checkbox"/> Equidistant</label>
    </div>
</div>

<div id="content">
    <div id="plotgrid" class="plotcontainer"></div>
    <div id="result_table">
        <h4>Filtered Results</h4>
        <table id="dataTable">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
        </table>
    </div>

<!-- table tools stuff -->
<!--<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/TableTools.css'>-->
<!--<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/demo_page.css'>-->
<!--<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/demo_table_jui.css'>-->
<!--<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/demo_table.css'>-->
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/jquery.dataTables.css'>
<!--<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/jquery.dataTables_themeroller.css'>-->
<script type="text/javascript" src='{{ STATIC_URL }}js/jquery.dataTables.js'></script>
<script type="text/javascript" src='{{ STATIC_URL }}js/FixedHeader.js'></script>
<!--<script src='{{ STATIC_URL }}js/ZeroClipboard.js' type="text/javascript"></script>-->

</div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/jqplot.cursor.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/jqplot.highlighter.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/jqplot.dateAxisRenderer.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/jqplot.categoryAxisRenderer.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/jqplot.canvasTextRenderer.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/jqplot.canvasAxisLabelRenderer.js"></script>


<script type="text/javascript" src="{{ STATIC_URL }}js/timeline.js"></script>
<script language="javascript">
$(function() {


    $("[id^=div_specific]").hide();

    Timeline.init({
        proj: {{ project.pk }},
        dbs: [{% for db in db_types %}"{{ db }}", {% endfor %}],
        revisions: {{ defaultlast }},
        benchmark: "show_none",
        benchmarks: { {% for ben, conf in benchmarks.items %} "{{ ben }}": "{{ conf.pk }}", {% endfor %} },
        equidistant: "{{ defaultequid }}",
        additional: [{% for filter in filters %} "{{ filter.name }}", {% endfor %}],
    });
});
</script>

{% endblock body %}
